 {% extends 'base.html.twig' %}

    {% block main %}

        <div class="container body-content span=8 offset=2">
            <div id="wrapper">
                <div id="container">
                    <a class="btn btn-default bnt-xs" href="{{ path('create_birthday') }}">Create New Birthday</a>
                    <a class="btn btn-info bnt-xs" href="{{ path('my_birthdays') }}">My Birthdays</a>
                    <br/>
                    <div class="table-condensed">
                        <div class="navbar-header">
                            <div>Name: </div>
                            <div>Born On: </div>
                        </div>
                        <div class="navbar-header">
                            <div>{{ birthday.name }}</div>
                            <div>{{ birthday.bornOn|date('Y-m-d') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

